body {
  font-family: "Sans-serif", sans-serif;
  background-color: #130516;
  background-image: url("../assets/Fondo.png");
}

.custom-container{
  width: 480px;
  height: auto;
}

@media (max-width: 500px) {
    .custom-container{
        width: 350px;
        height: 300px !important;
    }
}

.button {
  background:#ff0000;
  color: white;
  font-weight: bold;
  border: none;
  margin: 0;
  padding: 0.6em 1.3em;
  display: flex;
  font-size: 28px;
  gap: 1rem;
  align-items: center;
  box-shadow: 0 0 25px #ff0000, 0 0 25px #ff0000, 0 0 5px #ff0000 inset;
}

.button:hover{
  box-shadow: 0 0 25px #ff4500, 0 0 25px #ff4500, 0 0 5px #ff4500 inset;
}

.whatsapp {
  animation: pulse 1.5s infinite;
  background: transparent;
  border: none;
  margin: 2rem 0 1rem 0;
  display: flex;
  justify-content: center;
}

.img-whatsapp{
  width: 30px;
}

